@import 'globalVariables';

$timer-width: 120px;
$timer-height: calc($timer-width / 2);

.count-down-timer {
    position: absolute;
    top: calc($timer-height / -2);
    left: calc(50% - ($timer-width / 2));
    background-color: $color-brown;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: $timer-width;
    height: $timer-height;
    border-radius: 15px;
    font-size: 2rem;
}

@media (min-width: $breakpoint-md) {

    .count-down-timer {
        position: static;
        width: 100%;
        height: 100%;
    }
}