@import 'globalVariables';

.exit-game {

    .exit-game-popup {
        
        h1 {
            padding-top: 1rem;
        }

        .button-container {
            margin: 2rem 0 1.5rem 0;
            padding: 0 3rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .answer-button {
                text-align: center;
                background-color: #fff3c2;
                color: $color-brown;
                width: 65px;
                justify-self: center;
                padding: 0.5rem 0;
                border-radius: 15px;
                box-shadow: 2px 2px 5px #00000099;
                font-family: $text-open-sans;
                font-weight: bold;
                font-size: 1.25rem;
            }
        }
    }
}