@import 'globalVariables';

.exit-game {

    .exit-game-popup {
        
        h1 {
            padding-top: 1rem;
        }

        .button-container {
            margin: 2rem auto 1.25rem auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 65%;

            .answer-button {
                text-align: center;
                background-color: $color-yellow;
                color: $color-brown;
                width: 65px;
                justify-self: center;
                padding: 0.5rem 0;
                border-radius: 15px;
                box-shadow: $shadow-primary;
                font-family: $text-open-sans;
                font-weight: bold;
                font-size: 1.25rem;
                transition: transform 0.2s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.08);
                }
            }
        }

        @media (min-width: $breakpoint-sm) {

            .button-container {
                width: 45%;

                .answer-button {
                    width: 80px;
                    font-size: 1.5rem;
                }
            }
        }
    }
}