@import 'globalVariables';

@import 'gameBoard';
@import 'scoreBoard';
@import 'timeIsUp';

.game-page {
    padding: 1.5rem 1rem 2rem 1rem;
    max-width: 375px;
    margin: 0 auto;

    .game-page-type {
        background-color: $color-white-transparent;
        color: $color-brown;
        padding: 0.5rem 0.75rem;
        border-radius: 10px;
        font-family: $text-open-sans;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

@media (min-width: $breakpoint-md) {

    .game-page {
        max-width: 600px;
    }
}

@media (min-width: $breakpoint-lg) {

    .game-page {
        max-width: 800px;
        padding: 2rem 1rem 2rem 1rem;

        .content-wrapper {
            display: grid;
            grid-template-columns: 3fr 5fr;
            column-gap: 2rem;
            margin-top: 3rem;
        }
    }
}

@media (min-width: $breakpoint-xl) {

    .game-page {
        max-width: 900px;

        .content-wrapper {
            grid-template-columns: 4fr 7fr;
            column-gap: 4rem;
        }
    }
}

@media (min-width: $breakpoint-xxl) {

    .game-page {
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
}