@import 'globalVariables';

@import 'gameBoard';
@import 'scoreBoard';
@import 'timeIsUp';

.game-page {
    padding: 1.5rem 1rem 2rem 1rem;

    .game-page-type {
        background-color: $color-white-transparent;
        color: $color-brown;
        padding: 0.5rem 0.75rem;
        border-radius: 10px;
        font-family: $text-open-sans;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .reset-board-button {
        text-align: center;
        background-color: $color-yellow;
        color: $color-brown;
        padding: 0.5rem 0;
        margin: 1rem 0;
        border-radius: 15px;
        box-shadow: $shadow-primary;
        font-family: $text-open-sans;
        font-weight: bold;
        font-size: 1.25rem;
    }
}