$color-brown: #645140;
$color-white-transparent: #ffffffd9;
$color-yellow: #fff3c2;

$text-open-sans: "Open Sans", sans-serif;
$text-harry-potter: "Harry Potter", sans-serif;

$shadow-primary: 2px 2px 5px #00000099;
$shadow-secondary: 4px 4px 10px #000000cc;