@import 'gameTypeCard';

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem 2rem 1.5rem;

    .hero {
        text-align: center;
        text-shadow: 2px 2px 5px #00000099;
        margin-bottom: 1rem;

        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.25rem;
        }

    }

    .game-types {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}