@import 'globalVariables';

@import 'exitGame';
@import 'gameRules';

.navbar {
    background-color: $color-brown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;

    .logo {
        text-align: center;
        font-family: $text-harry-potter;

        .logo-full {
            display: none;
        }
    }

    .info-button {
        text-align: end;
    }
}