@import 'globalVariables';

@import 'exitGame';
@import 'gameRules';

.navbar {
    background-color: $color-brown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
    font-size: 1.5rem;

    i {
        cursor: pointer;
        transition: text-shadow 0.1s;

        &:hover {
            text-shadow: $shadow-primary;
        }
    }

    .logo {
        text-align: center;
        font-family: $text-harry-potter;

        .logo-full {
            display: none;
        }
    }

    .info-button {
        text-align: end;
    }
}

@media (min-width: $breakpoint-sm) {

    .navbar {
        
        .logo {

            .logo-compact {
                display: none;
            }

            .logo-full {
                display: inline;
            }
        }
    }
}

@media (min-width: $breakpoint-md) {

    .navbar {
        padding: 1.5rem 1.75rem 0.5rem 1.75rem;

        .logo {
            font-size: 1.75rem;
        }
    }
}