@import 'globalVariables';

@import 'score';
@import 'countDownTimer';

.score-board {
    position: relative;
    margin-top: 1.5rem;
    z-index: -1;

    .score-wrapper {
        background-color: $color-white-transparent;
        color: $color-brown;
        border-radius: 20px;
        padding: 4rem 3.5rem 0.5rem 3.5rem;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 2rem;
    }
}