@import 'globalVariables';

.time-is-up {

    .time-is-up-popup {

        h1 {
            padding-top: 1rem;
        }

        .result-text {
            padding-top: 0;
        }

        .score-title {
            font-size: 1.5rem;
            padding-bottom: 0;
        }

        .total-score {
            font-size: 3rem;
            padding: 0 1rem;
            font-weight: bold;
        }

        .button-container {
            margin-top: 2rem;
            padding: 0 1rem;

            .answer-button {
                background-color: $color-yellow;
                color: $color-brown;
                border-radius: 15px;
                box-shadow: $shadow-primary;
                font-family: $text-open-sans;
                font-weight: bold;
                font-size: 1.25rem;
                padding: 0.5rem 0;
                margin-bottom: 0.75rem;
                text-align: center;
            }
        }

        @media (min-width: $breakpoint-sm) {

            .button-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.5rem;
                width: 80%;
                margin: 2.5rem auto 0 auto;
            }
        }
    }
}