@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import './Navbar.scss';
@import './HomePage.scss';
@import './GamePage.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url(../pictures/hogwarts-castle.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    color: #fff3c2;
    backdrop-filter: blur(2px) brightness(80%);
}

h1, h2 {
    font-family: "Harry Potter", sans-serif;
    font-weight: normal;
}

p {
    font-family: "Open Sans", sans-serif;
}

.popup-background {
    background-color: #000000de;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;

    .popup {
        background-color: #645140;
        border-radius: 20px;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
            font-size: 1.5rem;
            margin: 0.5rem 0;
        }

        p {
            text-align: center;
            padding: 1rem;
            font-size: 1.25rem;
        }
    }
}