@import './GameRules.scss';

.navbar {
    background-color: #645140;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;

    .logo {
        text-align: center;
        font-family: "Harry Potter", sans-serif;

        .logo-full {
            display: none;
        }
    }

    .info-button {
        text-align: end;
    }
}